 
    @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

    * {
        font-family: 'Poppins', sans-serif;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        
    }
           
           h1 {
                color: white;
            }

            h2, h4,p {
                color: #797979;
            }

            h3,h5, .verde-agua {
                color: #38AF90;
            }

            h5 {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 10px;
                line-height: 10px;
            }

            .nav-container {
                background-color: #38AF90;
                width: 100%;
                height: 88px;
                padding: 20px;
                position: fixed;
                
            }

            .nav-main {
                width: 100%;
                max-width: 960px;
                margin: 0 auto;
                display: flex;
                flex-direction: column;      
        }

        .nav-brand {
            font-size: 36px;
            font-weight: 700;
            color: white;
            text-decoration: none;
            margin-bottom: 5px;
        }

        .barra {
            position: absolute;
            width: 494px;
            height: 67px;
            left: 1177px;
            top: 36px;
            font-style: normal;
            display: flex;
            padding: 0;
            margin: 0;
            list-style-type: none;
            align-items: center;
            color: #FFFFFF;
            justify-content: center;
            
}

        .barra a {
            color: white;
            text-transform: uppercase;
            text-decoration: none;
            padding: 20px;
        }

        .barra li {
        margin: 15px 10px 10px 10px;
        }
                    
            .centro {
            width: 1021px;
            height: 20px;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin: 0 auto;
                padding: 160px 0 60px 0;
            }

             .game {
                width: 1300px;
            height: 200px;
                display: flex;
                flex-wrap: wrap;
                justify-content: center; 
                margin: 0 auto;
                
            }

            .sign-up {
                width: 979px;
                height: 200px;
                margin: 17px auto;
                border: solid 1px white;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                background: #F0F0F0;
                border-radius: 13px;
            }

            .inscricao {
                width: 1330px;
                height: 20px;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    margin: 0 auto;
            }


            .card img {
            height: 168.53932189941406px;
            width: 300px;
            left: 0px;
            top: 0px;
            border-radius: 0px;
            }

            .bloco {
                background: #F0F0F0;
                border-radius: 8px;
                width: 100%;  
                max-width: 960px;
                margin: 0 auto;   
            }

            .box {
                position: absolute;
                background: #F0F0F0;
                border-radius: 8px;
            }

            footer {
                position: absolute;
                width: 100%; 
                height: 152px;
                left: 0px;
                top: 2780px;
                background: #383838;
                margin: 0 auto;
                
                
             }

             .container p {
                color: white;
                margin: 21px auto;
                width: 1082px;
                height: 31px;
                
}

            .container a {
            
                display: flex;
                flex-direction: column;
                align-itens: center;
                
            }


             

             .container h3 {
                color: white;
                margin: -45px auto;
                width: 733px;
                height: 37px;
             }
           